.home {
  height: 100%;
  width: 100%;
  display: flex;
  overflow: hidden;
  flex-direction: column;
}

.main {
  height: 100%;
  width: 100%;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  max-height: 0px;
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.main.active {
  max-height: 400px;
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.outlet {
  height: 100%;
  width: 100%;
  overflow: hidden;
  max-height: 0px;
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.outlet.active {
  max-height: 10000px;
  height: 100%;
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.nav {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "Karrik";
}

.nav_list {
  padding: 5px 10px;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.nav_item {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  margin: 0;
  padding: 0;
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  font-size: 50px;
}

.nav_item:hover {
  font-size: 55px;
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.description {
  padding: 5px 10px;
  font-family: "IBM Plex Mono";
  font-size: 14px;
}

.back {
  cursor: pointer;
  font-weight: 600;
  max-height: 0px;
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  overflow: hidden;
}

.back.active {
  padding: 0 10px;
  font-size: 20px;
  max-height: 100px;
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.back.active:hover{
  font-size: 22px;
  .back_sub{
    font-size: 14px;
  }
}

.back_sub {
  margin: 0 0 -10px 0;
  padding: 0;
  font-size: 12px;
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
